*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23B8A6;

}

.clock{
    font-size: 50px;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    align-items: center;
    color: #C6380E;
    border-style: solid;
    padding: 50px;
}